@font-face {
  font-family: 'Wittgenstein';
  src: url('fonts/Wittgenstein.woff2') format('woff2'),
       url('fonts/Wittgenstein.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
    --cream: #F2E9E4;
    /* nav borders, outline buttons */
    --blue: #034694;
    /* nav text, login, Explore button text */
    --white: #FFFFFF;
}

* {
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: var(--white);
}

/* HERO SECTION */
.menu-toggle {
    display: none;
}
.hero {
    position: relative;
    min-height: 100vh;
    background-image:
        linear-gradient(180deg, rgba(0, 0, 0, .35) 0%, rgba(0, 0, 0, .65) 100%),
        url("assets/tourbg.jpg");
    background-size: cover;
    background-position: start;
    display: flex;
    flex-direction: column;
}

.container {
    width: min(1200px, 92%);
    margin-inline: auto;
}

/* NAVBAR */
.site-header {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    background: #FFFFFF;

}

.navbar {
       display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;

}

.brand img {
    width: 56px;
    height: 56px;
}

.nav-pills {
    justify-self: center;
    display: flex;
    align-items: center;
    gap: 20px;
    /* padding:8px 18px; */
    border: 1.5px solid var(--cream);
    border-radius: 9999px;
    background: rgba(255, 255, 255, .05);
}

.nav-pills a {
    text-decoration: none;
    color: #3D3D3D;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 9999px;
    width: 150px;
    text-align: center;
}

.nav-pills a.active {
    background: #034694;
    color: var(--white);
}

.login a {
    text-decoration: none;
    color: var(--blue);
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 8px 14px;
    border: 1.5px solid var(--cream);
    border-radius: 12px;
    background: #034694;
    color: var(--white);
    font-weight: 600;
}

.login svg {
    width: 18px;
    height: 18px;
}
.dropdown {
  position: relative;
}

.mega-menu {
  display: none !important;
  position: absolute;
  top: 100%;
  left: 50%; /* Center align */
  transform: translateX(-25%); /* Pull it back half */
  width: 800px;
  background-color: white;
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin-top: 2px;
}


.dropdown:hover .mega-menu {
  display: flex !important;
}

.mega-menu .column {
  flex: 1;
}

.mega-menu h4 {
  color: #2163A8;
  font-size: 16px;
  margin-bottom: 8px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 4px;
}

.mega-menu ul {
  list-style: none;
  padding-left: 0;
  margin: 0 0 12px 0;
}

.mega-menu ul li {
  margin-bottom: 4px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

.mega-menu ul li:hover {
  text-decoration: underline;
}

.mega-menu ul li.active {
  background-color: #4187C8;
  color: #fff;
  padding: 3px 6px;
  border-radius: 4px;
  display: inline-block;
}

.all-packages-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px;
  border: 1px solid #034694;
  color: #034694;
  border-radius: 2px;
  font-weight: 500;
  text-decoration: none;
  font-size: 12px;
}

.all-packages-btn:hover {
  background-color: #0050a0;
  color: white;
}

.carousel {
    position: absolute;
    inset: 0;
    z-index: -1;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 100%;
    object-fit: cover;
    height: 100vh;
    width: 100%;
    display: none;
}

.slide.active {
    display: block;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.7);
    border: none;
    font-size: 2rem;
    padding: 5px 15px;
    cursor: pointer;
    z-index: 2;
}

.prev {
    left: 20px;
}
.next {
    right: 20px;
}

/* Hero text styles */
.hero-body {
    text-align: center;
    margin-top: 6rem;
    color: white;
    position: relative;
    z-index: 1;
}



.enquiry-box {
    background: white;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 0 auto;
    position: absolute;
    z-index: 10;
  bottom: -30px;
}

.enquiry-form {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-end;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1 1 20%;
    min-width: 160px;
}

.form-group label {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 6px;
    color: #000;
}

.form-group input {
    padding: 10px 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
}

/* 👇 Keep button on same row */
.form-group-button {
    flex: 0 0 auto;
    align-self: flex-end;
}

.enquire-btn {
    background-color: #c60000;
    color: white;
    padding: 12px 20px;
    font-weight: 600;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    height: 42px;
    white-space: nowrap;
}

@media (max-width: 767.98px) {
    .enquiry-form {
        flex-direction: column;
        align-items: stretch;
    }

    .form-group,
    .form-group-button {
        width: 100%;
    }

    .enquire-btn {
        width: 100%;
    }
}

/* HERO CONTENT */
.hero-body {
    margin-top: 30vh;
    align-items: center;
    justify-content: center;
}
.fabulous{
    font-family: 'Wittgenstein', serif;
     font-size: 40px;
     padding-right: 300px;
}
h1 {
    font-size: clamp(42px, 7vw, 60px);
    line-height: 1;
    font-weight: 800;
    margin: 0 0 12px 0;
}

.subtitle {
    font-size: clamp(16px, 2vw, 20px);
    margin: 0 0 28px 0;
}

/* CTA Buttons */
.cta {
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    border-radius: 9px;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    width: 240px;
    text-align: center;
}

.btn-outline {
    border: 2px solid var(--cream);
    color: var(--cream);
}

.btn-cream {
    background: #034694;
    color: var(--white);
    /* border: 2px solid var(--cream); */
}

/* Default desktop styles */
.site-header .menu {
    display: flex;
    align-items: center;
    gap: 20px;
}






/* PACKAGES SECTION */
.packages {
    background: var(--cream);
    padding: 60px 0 40px;
    text-align: center;
}

.section-subtitle {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--blue);
    margin-bottom: 12px;
}

.section-title {
    font-size: clamp(22px, 3vw, 32px);
    font-weight: 600;
    color: #2E2E2E;
    margin-bottom: 32px;
    line-height: 1.4;
}

/* Tabs */
.tabs {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 40px;
}

.tab {
    border: 1.5px solid var(--blue);
    background: transparent;
    color: var(--blue);
    font-weight: 600;
    font-size: 15px;
    padding: 10px 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.tab.active {
    background: var(--blue);
    color: var(--white);
}

/* Card Grid */
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
    justify-items: center;
    margin-bottom: 40px;
}

.card {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    max-width: 380px;

}

/* .card .tall {
    
} */
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}

.card-label {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--white);
    color: var(--blue);
    font-weight: 600;
    font-size: 15px;
    padding: 8px 18px;
    border-radius: 9999px;
    white-space: nowrap;
}

/* View All Button */
.view-all {
    margin-top: 20px;
}

.btn-blue {
    background: var(--blue);
    color: var(--white);
    border-radius: 999px;
    padding: 12px 32px;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
}

/* trip plan */
.trip_plan {
    background-color: #034694;
    min-height: 100vh;

}


.trip_card img {
    border-radius: 20px;
    object-fit: cover;
    border-radius: 20px;

}

/* takeoff */
.takeoff {
    max-height: 600px;
    background-color: var(--cream);
}

.takeoff p {
    color: var(--blue);
}

.takeoff h3 {
    color: black;
}

/* book ticket */
.book_ticket {
    background-image: url('assets/bgImg.jpg');
    background-size: contain;
    /* background-position: ; */
}

.book_ticket .title {
    color: var(--blue);
    font-size: 22px;

}

.book_ticket h3 {
    color: var(--white);
    font-size: 38px;
}

.ticketCard {
    width: 350px;
    border-radius: 20px;
    background: var(--cream);
    overflow: hidden;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.card-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card-content h2 {
    font-size: 22px;
    margin-bottom: 8px;
    color: #333;
}

.tags a {
    text-decoration: none;
    color: #034694;
    margin-right: 5px;
    font-size: 13px;
}

.description {
    color: #595959 !important;
    font-size: 13px;
    margin: 10px 0;
}

.info {
    font-size: 13px;
    color: #595959 !important;
    font-weight: 400;
    margin: 15px 0;
}

.view-btn {
    width: 100%;
    background-color: #034694;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.view-btn:hover {
    background-color: #00388d;
}

/* where to go - circle cards */
.wheretogo {
    background-color: var(--cream);
}

.wheretogo p {
    color: var(--blue);
    font-size: 20px;
}

.wheretogo h3 {
    color: black;
    font-size: 35px;
}

.package-card {
    text-align: center;
    padding: 15px;
}

.package-img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.package-title {
    font-weight: 600;
    margin-bottom: 8px;
    color: black;
}

.package-desc {
    color: #595959;
    font-size: 13px;
    margin-bottom: 12px;
}

.package-link {
    color: #034694;
    text-decoration: none;
    font-weight: 500;
}

.package-link:hover {
    text-decoration: underline;
}

/* blog */
.blog-section {
   background: url('assets/Group.png') no-repeat left top;
  background-size: 520px 100%;  /* Fix width, auto height */
  padding: 60px 20px;
  text-align: center;
}

.section-title {
    text-transform: uppercase;
    font-size: 0.9rem;
    color: #034694;
    letter-spacing: 1px;
    font-weight: 600;
}

.section-heading {
    font-size: 2rem;
    font-weight: bold;
    margin: 10px 0 40px;
    color: #2c2c2c;
}

.blog-card {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    color: white;
    text-align: left;
    height: 420px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
}

.blog-card::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    z-index: 0;
}

.blog-content {
    position: relative;
    z-index: 1;
}

.blog-title {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 8px;
}

.blog-desc {
    font-size: 0.9rem;
    margin-bottom: 16px;
    color: #F2E9E4;
}

.read-link {
    color: #F2E9E4;
    text-decoration: underline;
}

.read-link:hover {
    color: #d0d0d0;
}

.view-all-btn {
    margin-top: 40px;
    padding: 12px 30px;
    font-weight: 500;
    border-radius: 25px;
}

/* abroad tour */
.tours-section {
    background-color: #003580;
    color: white;
    padding: 60px 20px;
}

.section-subtitle {
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;
    color: white;
    font-weight: 600;
}

.section-title {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-bottom: 40px;
}

.tour-card {
    border-radius: 16px;
    overflow: hidden;
    background-color: #f4f4f4;
    color: #3D3D3D;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tour-card .abroadImg {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.card-body {
    padding: 20px;
    flex-grow: 1;
    text-align: start;
}

.card-title {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 8px;
    font-family: 'poppins';
}

.card-text {
    margin-top: 10px;
    font-size: 12px;
    color: #595959;
    margin-bottom: 20px;
}

.details-link {
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 600;
    color: #0056d2;
    text-decoration: none;
}

.details-link img {
    width: 16px;
    margin-left: 6px;
}

.view-more-btn {
    margin-top: 50px;
    background-color: #ffffff;
    color: #003580;
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
    font-weight: 600;
}

.view-more-btn:hover {
    background-color: #e6e6e6;
}

/* testimonial */
.testimonial-section {
    background-color: #F2E9E4;
    /* Light pinkish background */
}

.section-subtitle {
    color: #034694;
    font-size: 20px;
}

.section-title {
    color: #3D3D3D;
}

.testimonial-card {
    background-color: #034694;
    /* Deep blue */
    padding: 30px 20px 0px;
    border-radius: 20px;
    text-align: center;
    min-height: 380px;
    max-width: 300px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
}

.testimonial-avatar {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 3px solid #fff;
}

.testimonial-stars {
    font-size: 1.3rem;
    color: #ffd700;
    /* Gold */
}

.testimonial-text {
    font-size: 0.95rem;
    color: #e0e0e0;
}

.testimonial-name {
    font-weight: 600;
    color: #ffffff;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: end;
}

.rotate-left {
    transform: rotate(10deg);
}

.rotate-right {
    transform: rotate(-10deg);
}

.rotate-none {
    transform: rotate(0deg);
    margin-top: 30px;
}

/* frames */
.gallery-section {
    background-color: #F2E9E4;
}

.gallery-container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0;
    /* no horizontal padding */
}

.gallery-row {
    display: flex;
    gap: 16px;
    flex-wrap: nowrap;
    /* prevent wrapping */
    overflow-x: auto;
    /* just in case */
}

.gallery-img {
    height: 156px;
    width: 100%;
    object-fit: cover;
    border-radius: 18px;
    flex-shrink: 0;
    border: 1px solid black;
}

.gallery-imgsm {
    height: 66px;
    object-fit: cover;
    border-radius: 18px;
    display: block;
    flex-shrink: 0;
    border: 1px solid black;
}



.h-95 {
    height: 95px;
    object-fit: cover;
    border-radius: 18px;
}

/* form */
.contact-section {
    background-size: cover;
    background-position: center;
    padding: 60px 0;
    color: #fff;
    position: relative;
}

.contact-left h6 {
    color: #FFFFFF;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact-left h2 {
    color: #F2E9E4;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 30px;
}

.contact-card {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

.contact-item {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 20px;
    color: #505050;
    font-size: 15px;
}

.contact-item img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-top: 5px;
}

.contact-form .form-card {
    background: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    color: #fff;
}

.contact-form label {
    font-weight: 300;
    font-size: 14px;
    color: #3D3D3D;
}

.contact-form .form-control {
    background-color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    color: #BFBFBF;
}

.contact-form .btn-primary {
    background-color: #003c89;
    border: none;
    padding: 12px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 8px;
}

/* footer */
.footer {
    background-color: #0b4e9a;
    color: white;
    font-family: Arial, sans-serif;
    padding: 40px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-logo-section,
.footer-contact {
    flex: 1 1 300px;
    min-width: 300px;
}

.footer-links,.footer-social {
    min-width: 200px;
    padding-left: 30px;
}

.footer-logo-section .logo {
    width: 100px;
    margin-bottom: 15px;
}

.footer-logo-section p {
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 8px;
}

.footer-links ul li a,
.footer-contact a,
.footer-bottom a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
}

.footer-links ul li a:hover,
.footer-bottom a:hover {
    text-decoration: underline;
}

.footer-social .social-icons a {
    display: inline-block;
    margin-right: 10px;
}

.footer-social .social-icons img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* background: #FFFFFF; */
    padding: 5px;
    font-weight: 400;
}

.footer-bottom {
    padding: 20px;
    font-size: 14px;
    color: #034694;
}

.footer-bottom a {
    margin-left: 10px;
    color: #034694;

}

/* Mobile styles */

@media (max-width: 767.98px) {
    .menu-toggle {
        display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28px;
    height: 18px;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    height: 2px;
    background-color: #000;
    border-radius: 1px;
}
    .site-header .menu {
        display: none;
        flex-direction: column;
        background: #fff;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 20px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .site-header .menu.active {
        display: flex;
    }

    .nav-pills {
        flex-direction: column;
        gap: 10px;
        border-radius: 0px;
        border: none;
    }

    .login {
        margin-top: 15px;
    }

    .navbar {
        position: relative;
        justify-content: space-between;
        align-items: center;
    }

    .packages p{
            font-size: 15px;
    }
    .packages h2{
        font-size: 20px;
    }
       .trip_plan p{
            font-size: 15px;
       padding-top: 20px !important;
    }
    .trip_plan h2{
        font-size: 20px;
    }

    .trip_plan {
        padding-bottom: 20px !important;
        padding-top: 20px;
    }
      .trip_plan .mt-4{
        margin-top: 0px !important;
      }
      .contact-left {
        margin-bottom: 10px;
    }
.estb{
    padding-right:0px !important ;
}
    .trip_card {
        flex-direction: column;
        margin-top: 10px;
    }

    .trip_card img {
        width: 330px;
        margin-top: 10px;
    }
    .takeoff{
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .takeoff p{
            font-size: 15px;
        margin-top: 0px !important;
        padding: 0px 10px;
    }
    .takeoff h3{
        font-size: 20px;
        padding: 0px 10px;
    }
     .book_ticket{
        padding-bottom: 20px;
     }
    .book_ticket p{
           font-size: 15px;
        margin-top: 0px !important;
        padding-top: 20px;
    }
      .book_ticket h3{
        font-size: 20px;
      }
       .book_ticket .col-12{
        margin-top: 10px;
        padding-left: 5px !important;
       }
       .ticketCard {
    width: 100%;
    margin: 0 auto;
 
}
 .ticket-carousel {
    overflow-x: auto;
    display: flex;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    gap: 16px;
    padding: 0 10px;
  }

  .ticket-carousel > .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
    scroll-snap-align: start;
  }

.wheretogo p{
        font-size: 15px !important;
        margin-top: 0px !important;
        padding-top: 20px;
    }
    .wheretogo h3{
        font-size: 20px;
    }
    .blog-section {
  background: url('assets/Group.png') no-repeat center center/cover;
   padding: 20px 20px; 
}

    .blog-section h2 {
        font-size: 20px;
    }
.blog-section .col-12{
    margin-top: 0px !important;
    margin-bottom: 10px;
}

    .tours-section h2 {
        font-size: 20px;
    }

    .tours-section .col-12 {
        margin-bottom: 10px;

    }

    .testimonial-section h2 {
        font-size: 20px;
    }

    .rotate-none {
        margin-top: 0px;
    }

    .gallery-section h2 {
        font-size: 20px;
    }

    .gallery-section img {
        height: 156px;
        margin-bottom: 10px;
    }


    .rotate-left,
    .rotate-right {
        transform: rotate(0deg);
    }

    .footer-container {
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }
.footer .container{
    margin-left: 0px !important;
    padding-left: 0px !important;
}
    .footer-links {
        padding-left: 0px;

    }

    .footer-social {
        align-items: start !important;
        justify-content: start !important;
    }

    .footer-logo-section,
    .footer-contact {
        flex: 1 1 200px;
        min-width: 200px;
    }

    .footer-social {
        flex: 1 1 100px;
        min-width: 100px;
        padding-left: 0px;
    }

    .footer-bottom .d-flex {
        flex-direction: column;
    }
   .copyright{
    align-items: start !important;
    justify-content: start;
   }
 

    .footer-bottom a {
        margin-left: 0px;
    }
    
}


/* Responsive tweaks */
@media (max-width: 767px) {
    .blog-card {
        height: 360px;
    }
}

/* Responsive */
@media (max-width:760px) {
    .navbar {
        grid-template-columns: auto auto;
    }

    .nav-pills {
        grid-column: 1 / -1;
        justify-content: center;
        margin-top: 10px;
    }
}
