.service-number {
  font-weight: 900;
  font-size: 1.5rem;
  color: #f14d5d;
  margin-right: 8px;
  font-family: 'Poppins', sans-serif;
}
.number-title {
  display: flex;
  align-items: baseline;
}
.service-img {
  width: 100%;
  max-width: 500px;
  height: 280px !important;
  object-fit: cover;
  border-radius: 12px;
}
.travel-highlight {
  background-image: url('../images/services/sea.png'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  position: relative;
  height: 75vh;
}

.travel-highlight .overlay {
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* padding: 60px 0; */
}

.callback-text {
  font-size: 20px;
  letter-spacing: 1px;
  color: #FFFFFF;
}

.main-heading {
  font-size: 42px;
  font-weight: 900;
  font-family: 'Poppins';
  text-transform: uppercase;
}

.main-heading span {
  color: white;
}

.travel-highlight .description {
  max-width: 950px;
  font-size: 20px;
  color: #FFFFFF !important;
  /* line-height: 1.7; */
}

.bg-primary-light {
  background-color: #458FCEC9 !important;
  color: white;
}

.info-box {
  text-align: center;
  transition: transform 0.3s ease;
}
.info-box h4{
    font-size: 44px;
}
.info-box p{
    color: #FFFFFF !important;
    font-size: 22px;
}

.info-box:hover {
  transform: translateY(-5px);
}
